img, object, embed, video {
	max-width: 100%;
}
header {
	margin-bottom: 10px;
	width: 100%;
    
}
header img {
	width: 100%;
    box-shadow:0 4px 10px 4px;
    border-radius: 20px;
}
body {
    text-align: justify;
    width: 100%;
    margin: 0 auto;
}
form{
    padding: 40px;
    max-width:500px;
    margin:40px auto;
    box-shadow:0 4px 10px 4px;
    border-radius: 10px;

}
form#formulario02{
    max-width:90%;
}
label{
    font-size: 20px;
}
select{
    font-size: 20px;
}
div{
    float: left;
    width:48%;
    margin-right:4%;
    padding-left: 180px;
}
body{
	margin:0 auto;
	color:#6a6f8c;
	background:#c8c8c8;
	font:600 16px/18px 'Open Sans',sans-serif;
    border-radius: 10px;
    align-content: center;
}
input{
	border:none;
	padding:20px, 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
    font-size: 20px;
    height: 80px;
    margin: 10px;
    border: 5px solid #999;
    border-radius:  15px;
    -webkit-appearance: none;
}
